
/* Insert google font */
/* fix white space when page scrolls */

/* Main Body Styles */
* {
    background-color: aliceblue;
    font-family: 'Varela Round', sans-serif;
}
.main-header {
    margin-left: 35px;
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 24px;
    color: lightslategray;
}
/* Main Card CSS */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
}
.card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 2px solid lightslategray;
    border-radius: 25px;
    width: 30%;
    margin-bottom: 40px;
    height: 150px;
}
.card:hover {
    border: 2px solid skyblue;
}
.card,
.text-container,
.name,
.contact {
    background-color: white;
}
img {
    border-radius: 50%;
    height: 105px;
    width: 125px;
    margin: auto 0;
    margin-top: 20px;
}
.name {
    color: lightslategray;
    font-size: 22px;
    margin-bottom: 15px;
    margin-top: 30px;
}
.contact {
    color: lightslategray;
    font-size: 14px;
    margin-top: 0;
}


/* Overlay CSS */
body {
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(100, 100, 100, 0.4);
}
.modal {
    width: 375px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    padding: 30px 20px;
    background: white;
    border: 3px solid skyblue;
    border-radius: 25px;
}
.text-container,
.modal-content,
.name,
.email,
.address,
.phone,
.dob {
    background-color: white;
    color: lightslategray;
}
.modal-close {
    position: absolute;
    right: 9px;
    top: 9px;
    cursor: pointer;
    background-color: white;
    color: skyblue;
    border: 2px solid skyblue;;
    border-radius: 20%;
}
.hidden {
    display: none;
}
.left-arrow,
.right-arrow {
    color: lightslategray;
    background-color: white;
    font-size: 20px;
    border: none;
    width: 45px;
}
.left-arrow {
    margin-right: 20px;
}
.right-arrow {
    margin-left: 20px;
}

/* Add Media Queries for responsive design    */

/* fix this meida query, maybe make only one column of cards at 758px should be a bit easier. */

@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .card {
        width: 80%;
    }
  }

  /* @media only screen and (max-width: 320px) {
    .container {
        flex-direction: column;
    }
    .card {
        width: 90%;
    }
  } */